{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
		"singleQuote": true
  },
  "editor.formatOnSave": true,
  "[javascript]": {
      "editor.formatOnSave": true
  }
}